@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  height: 100%;
  width: 100%;
  grid-area: content;

  section {
    h3 {
      color: var(--secondary);
      font-size: 3rem;
    }

    .letsWork {
      color: var(--secondary);
      font-size: 1.5rem;
    }
  }

  .dropdownArea {
    background-color: var(--primary-500);
    border-radius: 15px;
    position: fixed;
    bottom: 17vh;
    right: 3vw;
    height: 130px;
    width: 170px;
    animation: fadeOut 0.5s ease-out;

    &.deactivate {
      display: none;
    }

    &.active {
      animation: fadeIn 0.5s ease-in;
    }

    .dropdownMenu {
      height: 100%;
      width: 100%;

      .listMenu {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          height: 30px;
          margin-right: 15px;

          .iconArea {
            width: 30px;
            padding-left: 15px;
            margin-right: 15px;

            &:hover {
              text-decoration: none;
              color: var(--secondary);
            }
          }

          i {
            color: var(--secondary);
          }

          a {
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: var(--secondary);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .otherActions {
    position: fixed;
    bottom: 6vh;
    right: 3vw;
    height: 70px;
    width: 70px;

    &.active {
      .btn {
        transition: transform 0.8s;
        transform: rotate(135deg);

        i {
          color: var(--secondary);
          font-size: 2rem;
        }
      }
    }

    .btn {
      height: 100%;
      width: 100%;

      border: none;
      border-radius: 50%;
      background-color: var(--primary-500);

      transition: transform 0.8s;
      transform: rotate(0deg);

      i {
        color: var(--secondary);
        font-size: 2rem;
      }

      &:hover {
        background-color: var(--primary-500);
      }
    }
  }
}
