section {
  height: 100%;
  width: 100%;

  table {
    tbody {
      tr {
        td {
          .action {
            height: 100%;
          }
          button {
            i {
              font-size: 1.3rem;
            }

            .edit {
              color: var(--black-800);
            }

            .delete {
              color: red;
            }

            &:active {
              border: none;
            }
          }
        }
      }
    }
  }
}
