section {
  height: 100%;
  width: 100%;

  .cardTotal {
    background: linear-gradient(to right, var(--purple-800), var(--purple-500));
    height: 80vh !important;

    .totalLabel {
      font-size: 0.8rem;
      font-weight: 400;
    }

    .totalValue {
      font-size: 2rem;

      .moneyLabel {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .filter {
      .formFilter {
        form {
          height: 100%;
          width: 100%;

          .btn {
            background-color: var(--purple-500);
            border: solid 2px green;
            color: var(--white-800);

            i {
              font-size: 1rem;
            }

            &:hover {
              box-shadow: 1px 1px 10px green;
            }
          }
        }
      }
    }
  }

  .sort {
    i {
      font-size: 1rem;
    }

    ul {
      text-decoration: none;
      margin: 0;
      padding: 0;

      font-size: 0.8rem;

      li {
        list-style-type: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.mainDiv {
  height: 80vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--purple-500);
    border: none;
    border-radius: 20px;
  }

  .sale {
    background: linear-gradient(to right, var(--purple-800), var(--purple-500));
    height: 110px;

    .saleId {
      h3 {
        color: var(--white-800);
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .totalLabel {
      font-size: 0.8rem;
      font-weight: 400;
    }

    .totalValue {
      font-size: 1.7rem;

      .moneyLabel {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  .products {
    background: linear-gradient(to right, var(--purple-500), var(--purple-800));
    height: 110px;

    .title {
      .itemsLabel {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }

    .productsList {
      height: 65%;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--white-800);
        border: none;
        border-radius: 20px;
      }

      .productArea {
        height: 20px;

        .productName {
          font-size: 0.8rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .soldQuantity {
          font-weight: 700;
          font-size: 0.9rem;

          .unity {
            font-weight: 400;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
