.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;

  h3 {
    color: var(--secondary);
  }

  .modalFormArea {
    height: 500px;
    border-radius: 25px;
    background-color: var(--primary-800);

    form {
      width: 100%;

      .holder {
        border-radius: 20px;
        background-color: var(--primary-500);

        color: var(--secondary);

        border: 1px solid var(--secondary);
      }

      input {
        border: 1px solid var(--secondary);
        border-radius: 20px;

        height: 40px;

        background-color: var(--primary-500);

        color: var(--secondary);

        &::placeholder {
          color: var(--secondary);
        }
      }
      .btns {
        .btn {
          border-radius: 15px;
        }

        .btnDel {
          background-color: rgb(131, 131, 5);
          color: var(--white);
          font-size: 0.9rem;
        }

        .btnCancel {
          background-color: red;
          color: var(--white);
        }
      }
    }
  }
}
