.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;

  h3 {
    color: var(--secondary);
  }

  .modalFormArea {
    height: 500px;
    border-radius: 25px;
    background-color: var(--primary-800);

    form {
      width: 100%;

      input,
      select {
        border: 1px solid var(--secondary);
        border-radius: 20px;

        height: 40px;

        background-color: var(--primary-500);

        color: var(--secondary);

        &::placeholder {
          color: var(--secondary);
        }
      }

      .passwordInputArea {
        span {
          border: none;
          border-radius: 20px;

          height: 40px;

          background-color: var(--primary-500) !important;

          color: var(--secondary);
        }
      }

      .btns {
        .btn {
          border-radius: 15px;
        }

        .btnAdd {
          background-color: green;
          color: var(--white);
        }

        .btnCancel {
          background-color: red;
          color: var(--white);

          a {
            color: var(--white);
            text-decoration: none;
          }
        }
      }
    }
  }
}
